<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="car" class="com.cxz.j_di.Car" >-->
        <!--<property name="brand" value="Audi" />-->
        <!--<property name="color" value="red" />-->
    <!--</bean>-->

    <bean id="car" class="com.cxz.j_di.Car" />
    <bean id="user" class="com.cxz.j_di.User" >
        <property name="id" value="1"  />
        <property name="name" value="LiFei" />
        <property name="car" ><null /></property>
    </bean>

</beans>
