<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxz.e_conflict.UserMapper">
    <insert id="save" parameterType="User">
        INSERT INTO `user` VALUES(null,#{name},#{birthday},#{money})
    </insert>

    <update id="update" parameterType="User">
        UPDATE `user` SET `name`=#{name},birthday=#{birthday},money=#{money} WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM `user` WHERE id=#{id}
    </delete>

    <!--<select id="findAll" resultType="User">-->
        <!--SELECT id AS id2, `name` AS name2,birthday AS birthday2, money AS money2 FROM `user`-->
    <!--</select>-->


    <select id="findAll" resultMap="rm">
        SELECT * FROM `user`
    </select>

    <resultMap id="rm" type="User">
        <id property="id2" column="id" />
        <result property="name2" column="name" />
        <result property="birthday2" column="birthday" />
        <result property="money2" column="money" />
    </resultMap>

    <select id="findOne" resultType="User">
        SELECT * FROM `user` WHERE id=#{id}
    </select>

</mapper>