<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car" class="com.cxz.k_dependson.Car" depends-on="door" />
    <bean id="door" class="com.cxz.k_dependson.Door" depends-on="window" />
    <bean id="window" class="com.cxz.k_dependson.Window" />

</beans>
